* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.nav-container {
    list-style: none;
}

.nav-container>ul>li {
    position: relative;
    white-space: nowrap;
    margin-left: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.btn-home {
    cursor: pointer;
    border: 5px solid dodgerblue;
    border-radius: 50%;
    background: dodgerblue;
    color: white;
}

.btn-home:hover {
    cursor: pointer;
    border: 5px solid dodgerblue;
    border-radius: 50%;
    background: rgb(15, 199, 255);
    color: white;
}