<div class="flex-playground-container">
  <div class="item">
    <span>1</span>
  </div>
  <div class="item">
    <span>2</span>
  </div>
  <div class="item">
    <span>3</span>
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    background-color: khaki;
  }

  .flex-playground-container {
    /* เริ่มเขียนโค่้ดตรงนี้ */
    background-color: cornflowerblue;
    height: 100%;
    padding: 20px;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 40px;
    margin: 20px;
    background-color: coral;
  }
</style>