/* 
 * Refactor โค้ด old_styles.css ไฟล์นี้ให้เป็น SCSS ลงในไฟล์นี้
 * แล้ว compile ออกมาเป็น css ที่ path ./dist/css/styles.css
 */

$btn-default-padding: 4px 15px;
$btn-default-border-radius: 5px;
$btn-default-font-size: 17px;
$btn-default-cursor: pointer;

$btn-default-color: #eee;
$btn-warning-color: crimson;
$btn-success-color: seagreen;

$btn-default-text-color: black;
$btn-warning-text-color: white;
$btn-success-text-color: white;

$btn-default-border: 2px solid #aaa;
$btn-warning-border: 2px solid darkgreen;
$btn-success-border: 2px solid green;

%ex-btn-shared {
    background-color: $btn-default-color;
    border: $btn-default-border;
    border-radius: $btn-default-border-radius;
    padding: $btn-default-padding;
    font-size: $btn-default-font-size;
    cursor: $btn-default-cursor;
    color: $btn-default-text-color;
}

.ex-btn {
    @extend %ex-btn-shared;
}

.ex-btn-warning {
    @extend %ex-btn-shared;

    color: $btn-warning-text-color;
    background-color: $btn-warning-color;
    border: $btn-warning-border;
}

.ex-btn-success {
    @extend %ex-btn-shared;

    color: $btn-success-text-color;
    background-color: $btn-success-color;
    border: $btn-success-border;
}
