<div class="post">
  <h1 class="post-title">Post title</h1>
  <p class="post-content">post content: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Pellentesque vel est nec felis dignissim finibus. Aliquam sodales mollis odio,
    non aliquam quam eleifend ut. Morbi ante turpis, accumsan sed vehicula at, auctor vitae ante.
    Pellentesque ac consectetur justo. Vestibulum interdum tempus vestibulum. Nunc mattis, diam nec ultrices laoreet,
    ante leo ultrices purus, nec pulvinar odio magna a ex. Nam turpis odio, porttitor quis purus in,
    aliquet semper sem.
  </p>
</div>

<style>
  h1.post-title {
    color: palevioletred;
    font-size: 60px;
  }
  
  .post-title {
    color: sandybrown;
    font-size: 50px;
  }

  .post-title.post-title {
    color: slateblue;
  }

  .post-content {
    font-size: 40px;
  }

  .post-content.post-content.post-content {
    color: purple;
  }

  p.post-content.post-content.post-content {
    color: goldenrod;
  }
</style>